@mixin font-face($font-name, $font-path, $font-weights) {
  @font-face {
    font-family: '#{$font-name}';
    src:  unquote("url('#{$font-path}') format('truetype')");
    font-weight: $font-weights;
    font-style: normal;
    font-display: swap;
  }
}